.active-2{
    background-color: #07080a;
    color: #fff;
}

.active {
    background-color: #007bff;
    color: #fff;
  }
  

.logout{
    background-color: #007bff;
    color: #fff;
}


.title-logo{
    background-color: #8f5656;
    color: #ffffff;
}
.title-logo:hover{
    background-color: #d48c8c;
    color: #ffffff;
}

.nav-bg{
    margin-bottom: 4px;
    background-color: #d48c8c;
}